@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/*font-family: 'Shrikhand', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
/*font-family: 'Roboto', sans-serif;*/
body {
  margin: 0;
  font-family: "roboto";
}

.bg-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  margin: 0 auto;
}
.bg-image.palette {
  background-image: url("../images/restaurants/palette.jpg");
}
.bg-image.gourmand {
  background-image: url("../images/restaurants/Le_gourmand.jpg");
}
.bg-image.enchanted {
  background-image: url("../images/restaurants/enchanted.jpg");
}
.bg-image.bastille {
  background-image: url("../images/restaurants/bastille.jpg");
}

span {
  text-decoration: underline;
  text-decoration-color: #99E2D0;
}

header {
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-bottom: 1px solid black;
  box-shadow: 0px 2px grey;
  text-decoration: none;
  height: 110px;
}
header .fas {
  color: black;
  position: relative;
  right: 37rem;
}
header .header__logo img {
  width: 270px;
  height: 60px;
}

.menu-container {
  background-color: #f2f2f2;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: -50px;
  padding: 10px;
}

.ligne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}
.ligne .heading {
  font-size: 1.8rem;
  font-family: "Shrikhand", cursive;
}
.ligne .coeur {
  position: relative;
}
.ligne .coeur .far.fa-heart {
  font-size: 1.5rem;
  cursor: pointer;
}
.ligne .coeur .far.fa-heart:hover {
  opacity: 0;
}
.ligne .coeur .fas.fa-heart {
  font-size: 1.7rem;
  cursor: pointer;
  position: absolute;
  left: -2px;
  top: -2px;
  background: -webkit-linear-gradient(bottom, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.ligne .coeur .fas.fa-heart:hover {
  opacity: 1;
}

.entree {
  font-size: 1.3rem;
  font-weight: 400;
  display: inline-block;
}
.entree:after {
  content: " ";
  display: block;
  width: 50%;
  height: 4px;
  background-color: #99E2D0;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.menu-item {
  margin-top: 15px;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: white;
  cursor: pointer;
}
.menu-item:hover .menu-item__animation {
  animation: largeur 1s ease forwards;
}
.menu-item:hover .menu-item__animation i {
  animation: rotate 1s ease forwards;
  opacity: 1;
}
.menu-item__plat {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 85%;
  padding: 10px;
}
.menu-item__plat p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-item__plat .principal {
  font-weight: 700;
}
.menu-item__prix {
  font-weight: 500;
  padding: 10px 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 15%;
}
.menu-item__animation {
  background-color: #99E2D0;
  height: 100%;
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  width: 0%;
}
.menu-item__animation i {
  opacity: 0;
  color: white;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes largeur {
  from {
    width: 0%;
  }
  to {
    width: 20%;
  }
}
@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
.menu-item:nth-child(1) {
  animation: apparition 1s ease both;
  animation-delay: 0.2s;
}

.menu-item:nth-child(2) {
  animation: apparition 1s ease both;
  animation-delay: 0.4s;
}

.menu-item:nth-child(3) {
  animation: apparition 1s ease both;
  animation-delay: 0.6s;
}

.menu-item:nth-child(4) {
  animation: apparition 1s ease both;
  animation-delay: 0.8s;
}

.btn-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.btn-order {
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  padding: 15px 60px;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 1.1rem;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.btn-order:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  filter: brightness(1.1);
}

footer {
  background-color: #353535;
  color: #fff;
  padding: 40px 20px 20px 20px;
}
footer h3 {
  font-family: "shrikhand";
}
footer p:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*# sourceMappingURL=menu.css.map */
